/*=============================
	03. Banner CSS start
===============================*/

.banner-section {
  background: white;
  padding: 117px 0 0 0;
  @media (max-width:1199.98px) {
    padding-top: 99px;
  }
}
